
<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th class="text-center">Price</th>
            <th class="text-center">Total</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do | book, quantity | %>
          <tr>
            <td class="col-sm-8 col-md-6">
              <div class="media">
                <a class="thumbnail pull-left" href="#"> <img class="media-object" src="<%=
                  book.photo %>" style="width: 72px; height: 72px;"></a>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="/books/<%= book.id %>"><%= book.title %></a></h4>
                    <h5 class="media-heading"> by <a href="#"><%= book.author %></a></h5>
                    <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                  </div>
                </div>
              </td>
              <td class="col-sm-1 col-md-1" style="text-align: center">
                <input type="number" class="form-control" id="quantity" value="<%= quantity %>" min="1">
              </td>
              <td class="col-sm-1 col-md-1 text-center"><strong><%= number_to_currency(book.cost) %></strong></td>

              <td class="col-sm-1 col-md-1 text-center"><strong><%= item_total_price(book.cost, quantity) %></strong></td>
              <td class="col-sm-1 col-md-1">
                <a class="btn btn-danger" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/item/<%= book.id %>">
                  <span class="glyphicon glyphicon-remove"></span> Remove
                </a></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="col-lg-3 total" id="sticker">
          <table class="table table-hover">
            <tr>
              <td><h4>Total: </h4></td>
              <td class="text-right"><h4><strong>6969</strong></h4></td>
            </tr>
            <tr>
              <td><h4>Sale: </h4></td>
              <td class="text-right"><h4><strong>6969</strong></h4></td>
            </tr>
            <tr>
              <td>
                <a href="/books" class="btn btn-default">
                  <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                </a>
              </td>
              <td class="text-right">
                <a href="#" class="btn btn-success">
                  Checkout <span class="glyphicon glyphicon-play"></span>
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function(){
        $("#sticker").stick_in_parent();
      });
    </script>
