
<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th class="text-center">Price</th>
            <th class="text-center">Total</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do | book, quantity | %>
          <tr id="<%= dom_id(book) %>">
            <td class="col-sm-8 col-md-6">
              <div class="media">
                <a class="thumbnail pull-left" href="#"> <img class="media-object" src="<%=
                  book.photo %>" style="width: 72px; height: 72px;"></a>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="/books/<%= book.id %>"><%= book.title %></a></h4>
                    <h5 class="media-heading"> by <a href="#"><%= book.author %></a></h5>
                    <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                  </div>
                </div>
              </td>
              <td class="col-sm-1 col-md-1" style="text-align: center">
                <input type="number" class="form-control quantity" value="<%= quantity %>" min="1">
                <input type="hidden" class="confirm-quantity" value="<%= quantity%>">
              </td>
              <td class="col-sm-1 col-md-1 text-center"><strong><%= number_to_currency(book.cost) %></strong></td>

              <td class="col-sm-1 col-md-1 text-center"><strong>$<%= item_total_price(book.cost, quantity) %></strong></td>
              <td class="col-sm-1 col-md-1">

                <a class="btn btn-danger" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/item/<%= book.id %>" data-remote="true">
                  <span class="glyphicon glyphicon-remove"></span>
                </a>

                <a href="/cart/edit/<%= book.id %>" class="btn btn-primary btn-info refresh" disabled="disabled"><span class="glyphicon glyphicon-repeat"></span> </a>

              </td>

            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <%= render 'total_price' %>
    </div>
  </div>


  <script>
    $(document).ready(function(){
      $("#sticker").stick_in_parent({offset_top: 80});

      // Handle event change quantity
      $('.quantity').bind('click keyup', function(){
        var quantity = $(this).val();
        var confirmQuantity = $(this).next().val();
        if(quantity == confirmQuantity){
          $(this).parent().parent().find(".refresh").attr("disabled", true);
        }
        else{
          $(this).parent().parent().find(".refresh").removeAttr("disabled");
        }
      });

      $(".refresh").click(function(event){

        event.preventDefault();
        var href = $(this).attr('href');
        var number = $(this).parent().parent().find(".quantity").val();
        $.ajax({
         url: href,
         type: "POST",
         data : { number: number },
         success :  function(data){
                     // Your Code here
                     //alert("Data: " + data + "\nStatus: " + status);
                   }
                 })
      });
    });
  </script>
