<%= form_for(@book, validate: true) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" >
    <%= f.label :category_id %>
    <%= f.select :category_id, options_for_select(@categories.collect{ |u| [u.name, u.id] }), {}, { class: " form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :publish_id %>
    <%= f.select :publish_id, options_for_select(@publishs.collect{ |u| [u.name, u.id] }), {}, { class: " form-control" } %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author, class: "form-control"  %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.file_field :photo, accept: 'image/*' %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, class: "form-control"  %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.text_field :weight, class: "form-control"  %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost, class: "form-control"  %>
  </div>
  <div class="field">
    <%= f.label :sale %><br>
    <%= f.text_field :sale, class: "form-control", validate: { numericality: true}  %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size, class: "form-control"  %>
  </div>
  <div class="field">
    <%= f.label :pages %><br>
    <%= f.text_field :pages, class: "form-control"  %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date, class: "form-control"  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
