<% book = line_item.book %>
<tr>
  <td class="col-sm-8 col-md-6">
    <div class="media">
    <a class="thumbnail pull-left" href="#"> <img class="media-object" src="<%= line_item.book.photo %>" style="width: 72px; height: 72px;"> </a>
      <div class="media-body">
        <h4 class="media-heading"><a href="/books/<%= book.id %>"><%= book.title %></a></h4>
        <h5 class="media-heading"> by <a href="#"><%= book.author %></a></h5>
        <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
      </div>
    </div>
  </td>
  <td class="col-sm-1 col-md-1" style="text-align: center">
    <input type="number" class="form-control" id="quantity" value="<%= line_item.quantity %>" min="1">
  </td>
  <td class="col-sm-1 col-md-1 text-center"><strong><%= number_to_currency(book.cost) %></strong></td>
  <td class="col-sm-1 col-md-1 text-center"><strong><%= number_to_currency(line_item.total_price) %></strong></td>
  <td class="col-sm-1 col-md-1">
    <a class="btn btn-danger" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/line_items/<%= line_item.id %>">
      <span class="glyphicon glyphicon-remove"></span> Remove
    </a></td>
  </tr>

